.slide-container {
    margin: 80px 140px 0px 140px;
}

.Slide-div div {
    height: 180px;
    border-radius: 2px;
}

/* Responsive design */
@media (max-width: 1150px) {
    .slide-container {
        margin: 80px 130px 0px 130px;
    }
}

@media (max-width: 1100px) {
    .slide-container {
        margin: 80px 120px 0px 120px;
    }
}

@media (max-width: 1050px) {
    .slide-container {
        margin: 80px 100px 0px 100px;
    }
}

@media (max-width: 998px) {
    .slide-container {
        margin: 80px 60px 0px 60px;
    }
}

@media (max-width: 950px) {
    .slide-container {
        margin: 80px 40px 0px 40px;
    }

    .Slide-div div {
        height: 175px;
    }
}

@media (max-width: 850px) {
    .slide-container {
        margin: 80px 30px 0px 30px;
    }

    .Slide-div div {
        height: 170px;
    }
}

@media (max-width: 768px) {
    .slide-container {
        margin: 120px 80px 0px 80px;
    }

    .Slide-div div {
        height: 165px;
    }
}

@media (max-width: 667px) {
    .slide-container {
        margin: 120px 40px 0px 40px;
    }

    .Slide-div div {
        height: 160px;
    }
}

@media (max-width: 480px) {
    .slide-container {
        margin: 110px 20px 0px 20px;
    }

    .Slide-div div {
        height: 140px;
        border-radius: 2px;
    }
}