.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: var(--light-orange-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo img {
    height: 35px;
    width: auto;
}

.search {
    position: relative;
    width: 250px;
    width: 28%;
}

.search input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #505050;
    font-size: 15px;
    outline: none;
}

.search input:hover {
    border-color: var(--green-color);
}

.search input:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 2px var(--green-color);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--green-color);
    font-size: 16px;
}

/* Wrapper to control hover area */
.category-wrapper {
    position: relative;
    display: inline-block;
}

.category {
    background-color: var(--green-color);
    padding: 6px 16px 6px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.category-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.category p {
    font-size: 16px;
}

.user-link {
    text-decoration: none;
}

.user span {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--brown-color);
    color: var(--white-color);
    margin: 1px;
}

.basket {
    margin-top: -22px;
}

.basket span {
    font-size: 20px;
    color: var(--green-color);
    background-color: var(--white-color);
    border: 1px solid;
    padding: 6px;
    padding-bottom: 3px;
    border-radius: 48%;
}

.basket p {
    font-size: 12px;
    margin-top: 3px;
    color: var(--brown-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.basket div {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -48px;
    margin-left: 26px;
    border-radius: 11px;
    font-size: 12px;
    background: var(--red-color);
    color: var(--white-color);
    z-index: 100;
    position: relative;
    cursor: pointer;
}

/* NavBottom for mobile */
.navBottom {
    display: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .search {
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        margin-top: 5px;
    }

    .category {
        padding: 0px 10px 6px 12px;
    }

    .category-link {
        padding-top: 6px;
    }

    .category p {
        font-size: 15px;
    }

    .user span {
        font-size: 14px;
        padding: 8px;
    }

    .basket p {
        font-size: 11px;
        margin-top: 4px;
    }
}

@media (max-width: 667px) {
    .search {
        top: 65px;
        width: 60%;
        margin-top: 5px;
    }
}

@media (max-width: 480px) {
    .navbar {
        background-color: var(--green-color);
        text-align: center;
        justify-content: center;
        height: 50px;
    }

    .search {
        top: 55px;
        width: 80%;
    }

    .category {
        display: none;
    }

    .user {
        display: none;
    }

    .basket {
        display: none;
    }

    .navBottom {
        display: flex;
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        border-top: 1px solid rgb(200, 200, 200);
        justify-content: space-evenly;
        align-items: center;
        font-size: 25px;
        background-color: var(--white-color);
        z-index: 5;
    }

    .navBottom-link {
        text-decoration: none;
    }

    .navBottom-div {
        line-height: 12px;
        text-align: center;
        color: var(--light-brown-color);
    }

    .navBottom-div img {
        height: 25px;
    }

    .navBottom-div p {
        font-size: 10px;
    }

    .navBottom-basket span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -16px;
        margin-left: 25px;
        border-radius: 6px;
        font-size: 10px;
        padding: 2px 3px 2px 3px;
        background: var(--medium-red-color);
        color: var(--white-color);
        z-index: 100;
        position: relative;
    }
}