@media (max-width: 480px) {
    .categoryListBottom {
        position: fixed;
        bottom: 8%;
        left: 9%;
        z-index: 500;
        text-align: center;
        background-color: var(--light-orange-color);
        height: auto;
        width: 60%;
        line-height: 30px;
        padding: 6px 8px;
        border-radius: 2px;
        border: 1px solid rgb(185, 185, 185);
    }

    .categoryListBottom .link {
        text-decoration: none;
    }

    .categoryListBottom p {
        color: var(--brown-color);
        cursor: pointer;
    }

    .categoryListBottom p:hover {
        color: var(--green-color);
        transform: scale(1.05);
        transition: 0.4s;
    }
}