.signUp-btn {
    margin-top: 115px;
    background-color: var(--medium-red-color);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30%;
    margin-left: 22%;
    margin-right: 22%;
    border-radius: 10px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signUp-btn div {
    border: 1px solid var(--medium-red-color);
    padding: 5px 30px;
    cursor: pointer;
}

.signUp-btn div:hover {
    color: var(--brown-color);
}

/* signUp CSS */
.signUp {
    line-height: 45px;
    background-color: var(--light-orange-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 10px 8% 45px 8%;
}

.signUp img {
    width: 320px;
    border-radius: 10px;
}

.signUp button {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid var(--light-brown-color);
    background-color: var(--light-green-color);
    color: var(--brown-color);
    margin-left: 30%;
    cursor: pointer;
}

.signUp button:hover {
    background-color: var(--medium-red-color);
    color: var(--white-color);
    border-color: var(--white-color);
}

.signUp div p {
    line-height: 22px;
    margin-top: 2px;
    color: var(--light-brown-color);
    font-size: 16px;
    margin-left: 18%;
}

.signUp div p span {
    font-size: 18px;
    margin-left: 17%;
}

.signUp div p span .loginLink {
    text-decoration: none;
    color: var(--brown-color);
}

/* Responsive design */
@media (max-width: 767px) {
    .signUp-btn {
        column-gap: 18%;
        margin-left: 16%;
        margin-right: 16%;
    }

    .signUp-btn div {
        padding: 5px 25px;
    }

    .signUp {
        column-gap: 6px;
        margin: 10px 6% 60px 6%;
    }

    .signUp img {
        width: 270px;
    }

    .signUp button {
        margin-left: 25%;
    }

    .signUp div p {
        margin-left: 11%;
    }

    .signUp div p span {
        margin-left: 18%;
    }
}

@media (max-width: 576px) {
    .signUp-btn {
        margin-top: 100px;
        height: 30px;
        column-gap: 20%;
        font-size: 16px;
    }

    .signUp-btn div {
        padding: 5px 10px;
        border-radius: 20px;
    }

    .signUp {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        row-gap: 20px;
        margin: 10px 5% 90px 5%;
    }

    .signUp img {
        width: 300px;
    }

    .signUp button {
        padding: 4px 10px;
        margin-left: 25%;
    }

    .signUp div p {
        font-size: 13px;
        margin-left: 13%;
    }

    .signUp div p span {
        font-size: 15px;
        margin-left: 20%;
    }
}

/* Design for Input tag */
.input input {
    height: 30px;
    width: 280px;
    padding: 9px 0px 9px 10px;
    font-size: 15px;
    border: 1px solid var(--light-brown-color);
    border-radius: 8px;
    outline: none;
    color: var(--light-brown-color);
}

.input input:hover {
    border: 1.5px solid var(--green-color);
}

/* Responsive design */
@media (max-width: 767px) {
    .input input {
        width: 220px;
    }
}